# Ignore environment files
.env
#!.env.example

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore log files
*.log

# Ignore scraped job files
scraped_jobs_*.txt

# Ignore proxy files
# proxies.txt